.info_container {
width: 300px;
height: 56px;
margin-top: 50px;
display: flex;
}
.info_image {
min-width: 60px;
min-height: 60px;
}
.info_container {
margin-left: 20px;
}
.info_username {
    margin: 5px;
    font: bold;
}
.info_desciption {
    margin: 5px;
}